
<h2> Current Tasks </h2>
<table>
  <tr>
    <!-- input to add task -->
    <td>
      <input name="task" type="text" ng-model="newTask.description"/>
    </td>
    <td>
      <select ng-model='selectedItem'>
        <option ng-repeat="priority in priorities"> {{ priority.name }} </option>
      </select>
    </td>
    <td class = 'link'>
      <!-- <button class = 'button' ng-click='addTask()'>Add Task</button> -->
      <a class = 'button' href='#' ng-click='addTask()'>Add</a>
    </td>
  </tr>
  <tr>
    <th>Task</th>
    <th>Priority</th>
  </tr>
  <tr ng-hide="task.expired || task.completed" ng-repeat="task in tasks">
    <td> {{ task.description }} </td>
    <td> {{ task.priority }} </td>
    <td class = 'link'>
      <a class = 'button' href='#' ng-click='completeTask(task)'>Complete</a>
      <!-- <button class = 'button' ng-click='completeTask()'>Completed</button> -->
    </td>
  </tr>
</table>

